{% extends "base.html" %}
{% block title %}Resumo do Pedido{% endblock %}

{% block content %}
<div class="container my-5">
  <h2 class="mb-4">Resumo do Pedido</h2>

  <table class="table table-hover">
    <thead>
      <tr>
        <th>Produto</th>
        <th>Quantidade</th>
        <th>Preço Unitário</th>
        <th>Subtotal</th>
      </tr>
    </thead>
    <tbody>
      {% for item in produtos %}
        <tr>
          <td>{{ item.produto.nome }}</td>
          <td>{{ item.quantidade }}</td>
          <td>R$ {{ item.produto.preco }}</td>
          <td>R$ {{ item.subtotal }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <h4 class="text-end mt-4">Total: <span class="text-success">R$ {{ total }}</span></h4>

  <form method="post" action="{% url 'finalizar_pedido' %}" class="mt-4">
    {% csrf_token %}
    <div class="mb-3">
      <label for="pagamento" class="form-label">Forma de Pagamento</label>
      <select name="forma_pagamento" id="pagamento" class="form-select" required>
        <option value="Cartão de Crédito">Cartão de Crédito</option>
        <option value="Pix">Pix</option>
        <option value="Boleto">Boleto</option>
    </select>
    </div>
    <div class="d-flex justify-content-between">
      <a href="{% url 'ver_carrinho' %}" class="btn btn-outline-secondary">Voltar</a>
      <button type="submit" class="btn btn-success btn-lg">Confirmar Pedido</button>
    </div>
  </form>
</div>
{% endblock %}